{% extends 'article_admin/article_admin_base.html.twig' %}

{% block body %}
    <h3 class="mt-2">Edytuj ten artykuł</h1>

    {{ include('article_admin/_form.html.twig', {
        button_text: 'Uaktualnij'
    }) }}

{% endblock %}