{% extends 'email/emailBase.html.twig' %}

{% block content %}
    <hr>
    <br size="20">
    <table>
        <tr>
            <td>
                <p>
                    What a week {{ email.toName }}! Here's a quick review of what you've been up to on the Space Bar this week
                </p>
            </td>
        </tr>
        <tr>
            <td>
                {{ include('email/_report-table.html.twig') }}
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <br>
                <button href="{{ url('app_homepage') }}">Check on the Space Bar</button>
                <br>
            </td>
        </tr>
    </table>

{% endblock %}
